[submodule "vendor/sslyze"]
	path = vendor/sslyze
	url = git://github.com/nabla-c0d3/sslyze.git
[submodule "vendor/sqlmap"]
	path = vendor/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "vendor/Garmr"]
	path = vendor/Garmr
	url = git://github.com/mozilla/Garmr.git
