[submodule "vendor/sslyze"]
	path = vendor/sslyze
	url = git://github.com/iSECPartners/sslyze.git
[submodule "vendor/sqlmap"]
	path = vendor/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "vendor/Garmr"]
	path = vendor/Garmr
	url = git://github.com/mozilla/Garmr.git
[submodule "features/support/scapegoat"]
	path = features/support/scapegoat
	url = git://github.com/gauntlt/scapegoat.git
[submodule "features/support/railsgoat"]
	path = features/support/railsgoat
	url = git@github.com:OWASP/railsgoat.git
