<pre>

    ______________________
   < Welcome to scapegoat >
    ----------------------
        \\
         \\  (__)
            (\\/)
     /-------\\/
    / |     ||
   /  ||----||
      ~~    ~~


Available goats:     * <a href="/sql-injection">sql-goat</a>
                     * <a href="/inline-js">inline js</a>
</pre>